body{
    background-color : white;
}

.containerOne{
    display : flex;
    justify-content: center;
    align-items: center;
}

.imageHolder{
    width : 80%;
    height : 500px;
    background-color: black;
    display : flex;
    justify-content: center;
    align-items: center;
}

#myElement {
    background: silver;
    width : 200px;
    height: 200px;
    text-align: center;
    font: 30px/300px Helvetica, Arial, sans-serif;
  }

.dogImage{
    width : 30%;
}


.pinch-zoom-container {
    overflow: hidden;
    width : 800px;
    height: 500px;
    background-color: aqua;
  }
  
  .pinch-zoom-image {
    background-color: #ccc;
    padding: 30px;
  }
